<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">РусМерс</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cars">Мои автомобили</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/users">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Галерея</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/place">Как добраться</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav me-right mb-0 mb-lg-0">
                <a class="nav-link" href="/auth/login" sec:authorize !="isAuthenticated()">Войти</a>
                <a class="nav-link" href="/auth/registration">Зарегистрироваться</a>
                <a class="nav-link" th:href="@{/logout}" method="post" sec:authorize="isAuthenticated()">Выйти</a>
            </ul>
        </div>
    </div>
</nav>