<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Add Car</title>
</head>
<body>

<form action="#" th:action="@{/cars}" th:object="${car}" method="post">
    <label for="type">VIN</label>
    <input type="text" th:field="*{VIN}" id="type" placeholder="VIN">
    <label for="text">Motor</label>
    <input type="text" th:field="*{motor}" id="text" placeholder="Motor">
    <input type="submit" value="Add Car">
</form>

</body>
</html>