<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Best service for your mercedes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <br>
    <br>
    <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaBv28rY90eWjBQqe1FyOxSqorbZf8Vi3RtIzeb0plVvnE_68nxd1kghe_d_ALIzMphKSr2pg19Ds8Ra7U3IlbeRsh4I-A=w1872-h1076"
         class="img-fluid" alt="...">
    <H2>+7-915-478-55-92 Руслан</H2>
</div>
</body>
